@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
	font-family: 'Indie Flower', cursive;
}

@font-face {
	font-family: 'TitleFontales';
	src: url('../public/fonts/3D-Thirteen-Pixel-Fonts.ttf') format('truetype');
}

.title_font {
	font-family: 'TitleFontales' !important;
}

.scale-up-animation {
	animation: scaleUp 0.2s ease-out;
}

.scale-up-animation {
	animation: scaleUp 0.3s ease-out;
}

@keyframes scaleUp {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
