@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
	font-family: 'Indie Flower', cursive;
}

@font-face {
	font-family: 'TitleFontales';
	src: url('../public/fonts/3D-Thirteen-Pixel-Fonts.ttf') format('truetype');
}

.title_font {
	font-family: 'TitleFontales' !important;
}

.scale-up-animation {
	animation: magicLamp 0.65s cubic-bezier(0.25, 0.1, 0.25, 1);
	transform-origin: bottom center;
}

@keyframes magicLamp {
	0% {
		transform: scaleY(0.1) rotateX(-90deg);
		opacity: 0;
	}
	50% {
		transform: scaleY(1.3) rotateX(20deg);
		opacity: 1;
	}
	100% {
		transform: scaleY(1) rotateX(0deg);
		opacity: 1;
	}
}

.new-item {
	transform: scale(0);
	transition: transform 0.3s ease-in-out;
}

.new-item.visible {
	transform: scale(1);
}

#animation-container {
	background: linear-gradient(-45deg, #1c1c1e, #1d1d1f, #0d0d0f, #0c0c0e);
	border-radius: 0.7rem;
	background-size: 400% 400%;
	animation: slideBackground 7s ease infinite;
}

@keyframes slideBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
