@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
	font-family: 'Indie Flower', cursive;
}

@font-face {
	font-family: 'TitleFontales';
	src: url('../public/fonts/3D-Thirteen-Pixel-Fonts.ttf') format('truetype');
}

.title_font {
	font-family: 'TitleFontales' !important;
}
